@use '../../mixins';

$desktop-width: 1024px;

:host ::ng-deep {
    .p-speeddial{
       position: fixed;
       right: 8px;
       top: 38px;
    }
    .p-speeddial-button.p-button.p-button-icon-only {
        max-width: 3rem;
        max-height: 3rem;
    }

}

header {
    margin-top: 32px;
    margin-bottom: 8px;

    .navbar {
        @include mixins.flex-row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $desktop-width;
        margin: 0 auto;
        .logo-wrapper {
            @include mixins.flex-row;
            align-items: center;

            .logo-img {
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }

            .logo {
                margin: 0;
                font-size: 16px;

                span {
                    color: var(--primary);
                }
            }
        }


        .nav-list {
            list-style: none;
            margin: 0;
            padding: 0;
            @include mixins.flex-row;
            gap: 32px;


            .nav-link {
                text-decoration: none;
                color: var(--gray);
            }

            .nav-link[href="index.html"] {
                color: var(--white);
            }

            .nav-link::before {
                content: '#';
                color: var(--primary);
                margin-right: 1px;
            }

            @media (max-width:420px) {
                display: none;
            }
        }

        .burger-icon {
            display: none; 
            margin: 0;  
            @media (max-width:420px) {
                display: block;
            }
        }


    }
}


/* Social links */
.social-links {
    position: fixed;
    @include mixins.flex-row;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    top: 0;
    left: 17px;

    @media (max-width:$desktop-width) {
        display: none;
    }
}


.social-links-line {
    height: 191px;
    width: 1px;
    background-color: var(--primary);
    /* display: block; */
}

.social-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    @include mixins.flex-row;
    flex-direction: column;
    gap: 8px;

    li a img {
        transition: filter 0.3s ease;
        filter: invert(29%) sepia(48%) saturate(1517%) hue-rotate(246deg) brightness(95%) contrast(86%);

        &:hover {
            -webkit-filter: contrast(85%) brightness(200%) saturate(75%) sepia(22%);
            filter: contrast(85%) brightness(200%) saturate(75%) sepia(22%);
        }
    }
}


/* Porject left image */

.project-left-image img {
    top: -50px;
    margin-top: 955px;
    position: absolute;
}

.about-left-image img {
    top: 0;
    margin-top: 2125px;
    position: absolute;
}

.contact-left-image img {
    top: -50px;
    margin-top: 2705px;
    position: absolute;
}