<header>
    <nav class="navbar">
        <div class="logo-wrapper">
            <img src="../../assets/Logo.svg" alt="website logo" class="logo-img" />
            <h1 class="logo"><span>J</span>-Lucien</h1>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">home</a></li>
            <li class="nav-item"><a routerLink="/about-me" class="nav-link">about-me</a></li>
            <li class="nav-item"><a routerLink="/contact" class="nav-link">contacts</a></li>
        </ul>
        <img src="assets/burger-icon.svg" alt="Navbar Burger Icon" class="burger-icon">
    </nav>
</header>
<div class="social-links">
    <div class="social-links-line"></div>
    <ul>
        <li><a href="https://github.com/J-Lucien/"><img src="assets/Github.svg" alt="Github Icon" /></a></li>
        <li><a href="https://www.linkedin.com/in/jean-lucien-tolojanahary-92749b272/"><img src="assets/Linkedin.svg"
                    alt="Linkedin Icon" /></a></li>
        <li><a href="mailto:jtolojanahary5@gmail.com"><img src="assets/Email.svg" alt="Email Icon" /></a></li>
    </ul>
</div>
