<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-info">
                <div class="footer-log-wrapper">
                    <div class="footer-log">
                        <img src="assets/Logo.svg" alt="Website logo" class="logo-img">
                        <h4>Lucien</h4>
                    </div>
                    <a href="mailto:jtolojanahary5@gmail.com">jtolojanahary5&#64;gmail.com</a>
                </div>
                <p>All-Round Web Developer</p>
            </div>
            <div class="footer-media">
                <h3>Media</h3>
                <a href="https://github.com/J-Lucien/"><img src="assets/Github.svg" alt="Github Icon" /></a>
                <a href="https://www.linkedin.com/in/jean-lucien-tolojanahary-92749b272/"><img
                        src="assets/Linkedin.svg" alt="Linkedin Icon" /></a>
                <a href="mailto:jtolojanahary5@gmail.com"><img src="assets/Email.svg" alt="Email Icon" /></a>
            </div>
        </div>
        <div class="figma">
            <p>Many thanks to Elias Dev for offering this UI/UX design to the Figma Community.</p>
            <a
                href="https://www.figma.com/design/BbesAqjnwgmSF1rwAqZLj8/Portfolio-(Community)?node-id=0-1&t=CaOmo2Pz6MImGaoT-0"><img
                    src="assets/Figma.png" alt="Figma Icon" /></a>
        </div>
        <p class="copyright">© 2024 J-Lucien. All rights reserved</p>
    </div>
</footer>