<main>
    <div class="main-container">
        <section class="about-me-title">
            <h3>about me</h3>
            <p>Who am I</p>
            <div class="about-me">
                <p>Hello, i’m Lucien!
                    <br>
                    <br>
                    I’m a self-taught developer with expertise in both front-end and back-end technologies,
                    based in Madagascar. I create responsive websites from the ground up, transforming them into
                    modern, user-friendly web experiences, along with building robust server-side applications.
                    <br>
                    <br>
                    For over a year, I’ve been developing APIs, front-end and back-end solutions that are reliable.
                    I’m always eager to explore the latest technologies and frameworks to keep my work at the
                    cutting edge.
                </p>
                <img src="assets/Lucien-3.png" alt="Lucien photo">
            </div>
        </section>

        <section class="skills">
            <div class="section-header">
                <h2>skills</h2>
            </div>
            <div class="skills-container">
                <div class="skills-card">
                    <h3>Languages</h3>
                    <ul>
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="skills-card">
                    <h3>Other</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>EJS</li>
                        <li>SCSS</li>
                        <li>REST</li>
                    </ul>
                </div>
                <div class="skills-card">
                    <h3>Tools</h3>
                    <ul>
                        <li>VSCode</li>
                        <li>Maven</li>
                        <li>Linux</li>
                        <li>Git</li>
                        <li>IntelliJ IDEA</li>
                        <li>Docker</li>
                        <li>Postman</li>
                        <li>RestFox</li>
                        <li>NPM</li>
                        <li>Yarn</li>
                    </ul>
                </div>
                <div class="skills-card">
                    <h3>Databases</h3>
                    <ul>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                        <li>MySql</li>
                        <li>SQL Server</li>
                    </ul>
                </div>
                <div class="skills-card">
                    <h3>Frameworks</h3>
                    <ul>
                        <LI>Spring boot</LI>
                        <LI>Angular</LI>
                        <LI>CodeIgniter</LI>
                        <li>React</li>
                        <li>Express.js</li>
                        <li>Node.js</li>
                        <li>Mongoose</li>
                        <li>Hibernate</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <div class="skills-card">
                    <h3>Application Servers</h3>
                    <ul>
                        <li>Tomcat</li>
                        <li>WildFly</li>
                        <li>Apache</li>
                    </ul>
                </div>
                <div class="skills-card">
                    <h3>Cybersecurity Tools</h3>
                    <ul>
                        <li>OWASP ZAP</li>
                        <li>Metasploit</li>
                        <li>Burp Suite</li>
                        <li>Wireshark</li>
                        <li>Maltego</li>
                        <li>Nmap</li>
                        <li>Snort</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="certifications">
            <div class="section-header">
                <h2>Certifications</h2>
            </div>
            <div class="certifications-container">
                <div class="certificate-card">
                    <h3>React JS for Beginners</h3>
                    <img src="assets/react-js-for-begginer.jpg" height="202px"  alt="" srcset="">
                   
                    <a href="https://www.mindluster.com/student/certificate/19317694740" target="_blank">View Certificate</a>
                </div>
                <div class="certificate-card">
                    <h3>Professional React JS Crash</h3>
                    <img src="assets/professional-react.jpg" height="202px"  alt="" srcset="">
                   
                    <a href="https://www.mindluster.com/student/certificate/e939b656" target="_blank">View Certificate</a>
                </div>
                <div class="certificate-card">
                    <h3>Formation React React Native</h3>
                    <img src="assets/react.jpg" height="202px"  alt="" srcset="">
                   
                    <a href="https://www.mindluster.com/student/certificate/3e2dcfcc" target="_blank">View Certificate</a>
                </div>
            </div>
        </section>
        

        <section class="my-fun">
            <div class="section-header">
                <h2>my-fun-facts</h2>
            </div>
            <div class="my-fun-container">
                <div class="my-fun-content">
                    <p>I like creating new things, whether it's  <span>coding</span>, <span>crafting</span> , or <span>exploring</span> new ideas</p>
                    <p>I love reading books that inspire creativity</p>
                    <p>I enjoy singing in my free time</p>
                    <p>I’m currently studying at university</p>
                </div>
                <img src="assets/fun-icon.png" alt="Icon">
            </div>
        </section>

    </div>
</main>