<main>
    <div class="main-container">
        <section class="contacts-title">
            <h3>contacts</h3>
            <p>Who am I</p>
            
        </section>

        <section class="contacts">
            <div>
                <p>I’m open to freelance projects and would love to discuss any opportunities you have. If you have other inquiries or need further information, feel free to reach out.</p>
            </div>
            <div class="contact-container">
                <div class="contact-cards">
                    <h3>Message me here</h3>
                    <div class="contact-wrapper">
                        <div class="contact-info">
                            <a href="mailto:jtolojanahary5@gmail.com">
                                <img src="assets/Email.svg" alt="Discord Icon">
                                <span>jtolojanahary5&#64;gmail.com</span>
                            </a>
                            <!-- <a href="https://www.linkedin.com/in/jean-lucien-tolojanahary-92749b272/">
                                <img src="assets/Email.svg" alt="Discord Icon">
                                <span>https://www.linkedin.com/in/jean-lucien-tolojanahary-92749b272/</span>
                            </a> -->
                            <a href="https://github.com/J-Lucien/">
                                <img src="assets/Github.svg" alt="Discord Icon">
                                <span>https://github.com/J-Lucien</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       <section class="all-media">
        <div class="section-header">
            <h2>all media</h2>
        </div>
       <div class="media-container">
        <div class="media-cards">
            <img src="assets/Twitter.png" alt="" srcset="">
            <p>&#64;elias</p>
        </div>
        <div class="media-cards">
            <img src="assets/Twitter.png" alt="" srcset="">
            <p>&#64;elias</p>
        </div>
       </div>
       </section>
        
    </div>
</main>