
<div class="project-left-image">
  <img src="assets/project-left-image.svg" alt="">
</div>

<div class="about-left-image">
  <img src="assets/about-me-left-image.svg" alt="">
</div>

<div class="contact-left-image">
  <img src="assets/contact-left-image.png" alt="">
</div>
<main>
    <div class="main-container">
        <section class="hero">
            <div class="hero-content">
                <h2>Lucien is a <span>front-end developer</span> and <span>back-end developer</span></h2>
                <p>Creating seamless user experiences and robust server-side solutions where technology and
                    creativity converge.</p>
                <!-- <button class="contact-button">Contact me!!</button> -->
                 <a href="contacts.html">Contact me!</a>
            </div>
            <div class="hero-img">
                <img src="assets/Lucien-3.png"
                    alt="Photo of Lucien, a Skilled Web Developer with Front-End and Back-End Expertise" />
                <div class="portfolio-note-wrapper">
                    <div class="purple-square"></div>
                    <p class="portfolio-note">Currently working on <span>Portfolio</span></p>
                </div>
            </div>
        </section>
        <section class="quote">
            <blockquote>It does not matter how slowly you go as long as you do not stop.</blockquote>
            <figcaption>-Confucius</figcaption>
        </section>
  
        <section class="projects">
            <div class="section-header">
                <h2>projects</h2>
                <!-- <a class="projects-link" href="projects.html">view all ~~></a> -->
            </div>
            <div class="project-cards">
               
                <div class="project-card">
                    <img src="assets/protectx.png" />
                    <ul>
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Angular</li>
                    </ul>
                    <div class="project-info">
                        <h3>ProtectX</h3>
                        <p>Discord anti-crash bot </p>
                        <div class="project-links">
                            <button><a href="https://j-lucien.github.io/protectx-angular/" target="_blank">Live <~></a></button>
                            <button><a href="https://github.com/J-Lucien/protectx-angular" target="_blank">Github >=</a></button>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/lucien-portfolio.jpg" height="202px" />
                    <ul>
                        <li>HTML</li>
                        <li>SCSS</li>
                        <li>Angular</li>
                    </ul>
                    <div class="project-info">
                        <h3>Portfolio</h3>
                        <p>You’re using it right now</p>
                        <div class="project-links">
                            <button><a href="https://github.com/J-Lucien/portfolio-angular"  target="_blank">Github >=</a></button>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/career.png" height="202px" />
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Bootstrap</li>
                        <li>Material UI</li>
                        <li>PrimeNG</li>
                        <li>Angular</li>
                        <li>TypeScript</li>
                        <li>Java</li>
                        <li>Spring boot</li>
                    </ul>
                    <div class="project-info">
                        <h3>Personnel Management</h3>
                        <p>Career and position management</p>
                        <div class="project-links">
                            <button><a href="https://drive.google.com/file/d/1jLp56fJOgME8EQzO8okA3RxANnWGquB5/view" target="_blank">Video <~></a></button>
                            <button><a href="https://github.com/J-Lucien/G-carriere"  target="_blank">Github Frontend >=</a></button>
                            <button><a href="https://github.com/J-Lucien/gestion_carriere_api"  target="_blank">Github Backend >=</a></button>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/protectx.png" />
                    <ul>
                        <li>HTML</li>
                        <li>SCSS</li>
                    </ul>
                    <div class="project-info">
                        <h3>ProtectX</h3>
                        <p>Discord anti-crash bot </p>
                        <div class="project-links">
                            <button><a href="https://j-lucien.github.io/protectX/" target="_blank">Live <~></a></button>
                            <button><a href="https://github.com/J-Lucien/protectX" target="_blank">Github >=</a></button>
                        </div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="assets/lucien-portfolio.jpg" height="202px" />
                    <ul>
                        <li>HTML</li>
                        <li>SCSS</li>
                    </ul>
                    <div class="project-info">
                        <h3>Portfolio</h3>
                        <p>You’re using it right now</p>
                        <div class="project-links">
                            <button><a href="https://github.com/J-Lucien/portfolio"  target="_blank">Github >=</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="skills">
            <div class="section-header">
                <h2>skills</h2>
            </div>
            <div class="skills-content">
                <img src="assets/skills.png" alt="Skills" />
                <div class="skills-card">
                    <div class="skills-group">
                        <div class="skills-category">
                            <h4>Language</h4>
                            <ul>
                                <li>Java</li>
                                <li>Kotlin</li>
                                <li>TypeScript</li>
                                <li>JavaScript</li>
                                <li>PHP</li>
                                <li>Python</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-group">
                        <div class="skills-category">
                            <h4>Database</h4>
                            <ul>
                                <li>PostgreSQL</li>
                                <li>MongoDB</li>
                                <li>MySql</li>
                                <li>SQL Server</li>
                            </ul>
                        </div>
                        <div class="skills-category">
                            <h4>Other</h4>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>EJS</li>
                                <li>SCSS</li>
                                <li>REST</li>
                            </ul>
                        </div>
                    </div>
                    <div class="skills-group">
                        <div class="skills-category">
                            <h4>Tools</h4>
                            <ul>
                                <li>VSCode</li>
                                <li>Maven</li>
                                <li>Linux</li>
                                <li>Git</li>
                                <li>IntelliJ IDEA</li>
                                <li>Docker</li> 
                                <li>Postman</li>
                                <li>RestFox</li>
                                <li>NPM</li>
                                <li>Yarn</li>
                            </ul>
                        </div>
                        <div class="skills-category">
                            <h4>Frameworks</h4>
                            <ul>
                                <LI>Spring boot</LI>
                                <LI>Angular</LI>
                                <LI>CodeIgniter</LI>
                                <li>React</li>
                                <li>Express.js</li>
                                <li>Node.js</li>
                                <li>Mongoose</li>
                                <li>Hibernate</li>
                                <li>Bootstrap</li>
                            </ul>
                        </div>
                        <div class="skills-category">
                            <h4>Application Servers</h4>
                            <ul>
                                <li>Tomcat</li>
                                <li>WildFly</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  
        <section class="about">
            <div class="section-header">
                <h2>about-me</h2>
            </div>
            <div class="about-content">
                <div class="about-text">
                    <p>Hello, i’m Lucien!
                        <br>
                        <br>
                        I’m a self-taught developer with expertise in both front-end and back-end technologies,
                        based in Madagascar. I create responsive websites from the ground up, transforming them into
                        modern, user-friendly web experiences, along with building robust server-side applications.
                        <br>
                        <br>
                        For over a year, I’ve been developing APIs, front-end and back-end solutions that are reliable.
                        I’m always eager to explore the latest technologies and frameworks to keep my work at the
                        cutting edge.
                    </p>
                    <a routerLink="/about-me" >View Details -></a>
                </div>
                <img src="assets/Image.png" alt="About me photo" />
            </div>
        </section>
  
        <section class="contacts">
            <div class="section-header">
                <h2>contact</h2>
            </div>
            <div class="contacts-content">
                <p>I’m open to freelance projects and would love to discuss any opportunities you have. If you have other inquiries or need further information, feel free to reach out.</p>
                <div class="contacts-card">
                    <h4>Message me here</h4>
                    <!-- <div class="contact">
                        <img src="assets/Discord.svg" alt="Discord Icon">
                        <span>!Elias#3519</span>
                    </div> -->
                    <div class="contact">
                        <a href="mailto:jtolojanahary5@gmail.com">
                            <img src="assets/Email.svg" alt="Discord Icon">
                            <span>jtolojanahary5&#64;gmail.com</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </main>